body{margin:0;font-family:'Caladea',serif;font-family:Aileron,sans-serif;font-style:normal}
h2{font-size:1.5em}
p{font-size:1em}
#firstblock{width:100%;height:100vh;max-height:1280px;background:url(../img/img.jpg);background-position:bottom;background-repeat:no-repeat;background-size:100%}
#firstblock nav{position:fixed;right:2.6%;top:3.9%;width:50px;z-index:100}
#firstblock nav .content{box-sizing:border-box;width:50px}
#firstblock nav button{margin-bottom:40px;cursor:pointer;outline:none;padding:10px;background-color:#fff;box-sizing:content-box;border-radius:10px}
#firstblock nav button,#firstblock nav a{width:30px;height:30px;background-color:#fff;border:0;line-height:30px;display:block;margin:auto;text-align:center;border-radius:10px;transition:.3s}
#firstblock #links{opacity:0;transition:.3s;padding:10px;background-color:#fff;border-bottom-left-radius:10px;border-bottom-right-radius:10px}
#firstblock nav a{margin:20px 0}
#firstblock nav a:first-child{margin-top:0}
#firstblock nav a:last-child{margin-bottom:0}
#firstblock nav a img{vertical-align:middle}
#firstblock .wrapper{height:100%;width:100%;text-align:center}
#firstblock .text_wrapper{width:80%;padding-top:30vh;margin:auto}
#firstblock h1{display:inline-block;vertical-align:middle;font-size:48px;font-weight:700;font-family:'Caladea';margin-top:0;line-height:50px}
#firstblock p{color:#666;font-size:18px;line-height:20px;font-family:'Aileron'}
@media(max-width: 430px) {
#firstblock .text_wrapper{padding-top:20vh}
}
#second_block{width:100%;height:100vh;position:relative}
#second_block .wrapper{position:absolute;bottom:0}
#second_block .upper_text h2{color:#333;text-align:center;margin:0}
#second_block .upper_text div{width:40%;margin:0 15% 0 45%}
#second_block .upper_text div p{margin:0 0 10px}
@media(max-width: 400px) {
#second_block .upper_text div{width:70%;margin:0 10% 0 20%}
}
#second_block .table_wrapper{width:100%}
#second_block .main_table{width:80%;margin:auto;-webkit-transform:translateY(4.5px);-ms-transform:translateY(4.5px);transform:translateY(4.5px)}
#second_block .statue_img_wrapper{width:40%}
#second_block table img.statue{height:60%}
#second_block table .sign_wrapper{vertical-align:top}
#second_block td{font-family:'Aileron';font-size:18px;color:#666;vertical-align:top;padding:0}
#second_block td.header{color:#d63c37}
@media(max-height: 710px) {
#firstblock p{margin:0}
#firstblock h1{margin:0}
}
@media(max-width: 430px) {
#second_block .statue_img_wrapper{display:none}
#second_block .empty_rows{display:none}
}
#thirdscreen{width:100%;min-height:100vh;background-color:#d63c37;box-sizing:border-box;padding:10% 0}
#thirdscreen .wrapper{width:70%;margin:auto}
#thirdscreen .wrapper h2{margin-top:0;color:#fcfcfc;text-decoration:underline;text-align:right;font-family:'Caladea';font-size:36px}
#thirdscreen .skills_tabel{display:flex;flex-wrap:wrap}
#thirdscreen .skills_tabel table{width:50%;text-align:right}
#thirdscreen .skills_tabel table td{color:#333;font-family:'Aileron';font-size:18px}
#thirdscreen .skills_tabel table td.header{font-family:'Aileron';font-weight:700;color:#333}
#thirdscreen .skills_tabel table div.icon_wrapper{vertical-align:top;width:64px;height:64px;border:2px solid #fff;border-radius:50%;text-align:center}
#thirdscreen .skills_tabel table div.icon_wrapper img{vertical-align:middle}
#thirdscreen .last_table{margin:-60px 0 0}
@media(max-width: 800px) {
#thirdscreen .last_table{margin:-120px 0 0}
}
#thirdscreen img.fire{margin-top:calc((100% - 31px) / 2)}
#thirdscreen img.lightning{margin-top:calc((100% - 23px) / 2)}
#thirdscreen img.settings{margin-top:calc((100% - 21px) / 2)}
#thirdscreen img.code{margin-top:calc((100% - 22px) / 2)}
#thirdscreen img.cloud{margin-top:calc((100% - 19px) / 2)}
@media(max-width: 680px) {
#thirdscreen .wrapper{width:95%}
#thirdscreen .skills_tabel table{width:100%;margin-bottom:20px}
#thirdscreen .last_table{margin:0}
}
footer{width:100%;background-color:#fff;padding:60px 0;text-align:center}
footer a{text-decoration:none;color:#333;font-size:18px;font-family:'Aileron';margin-right:3%}
