.sidebar {
  min-width: 270px;
  max-width: 270px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
}
.sidebar .content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
@media (max-width: 920px) {
  .sidebar {
    margin-right: 10px;
  }
}
.sidebar h1 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
}

.tagsFilters {
  margin-bottom: 16px;
}
.tagsFilters p {
  margin-bottom: 6px;
  white-space: nowrap;
}
.tagsFilters input {
  width: 100%;
  margin-bottom: 6px;
}

.tagsContent {
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 6px 10px 6px 0;
}
.tagsContent label {
  white-space: nowrap;
}
.tagsContent {
  scrollbar-width: thin;
  scrollbar-color: #0077ff #eaeaea;
}
.tagsContent::-webkit-scrollbar {
  width: 6px;
}
.tagsContent::-webkit-scrollbar-track {
  background: #eaeaea;
}
.tagsContent::-webkit-scrollbar-thumb {
  background-color: #0077ff;
  border-radius: 0px;
  border: 3px solid #0077ff;
}

.priceFilters {
  margin-bottom: 16px;
}
.priceFilters p {
  margin-bottom: 6px;
}
.priceFilters div {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}
.priceFilters div input {
  width: 100%;
  margin: 0 6px;
}

button.filter,
button.reset {
  padding: 10px;
  width: 100%;
  border-radius: 6px;
  border: 0;
  font-size: 16px;
  transition: 0.3s;
}

button.filter {
  background: #0077ff;
  color: #fff;
  margin-bottom: 6px;
}
button.filter:hover {
  background-color: #0064d7;
}

button.reset {
  background-color: #eaeaea;
  color: #111;
}
button.reset:hover {
  background-color: #dedede;
}

.projectsTable {
  background-color: #fff;
  border-radius: 6px;
  width: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  position: relative;
}
.project::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  left: 17%;
  right: 17%;
  background-color: #c7c7c7;
}
.project.last::after {
  content: unset;
}

.bids,
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 16px;
  border-radius: 6px;
  white-space: nowrap;
}

.price {
  min-width: 110px;
  background-color: #0077ff;
  color: #fff;
  margin: 0 0 15px 0;
}

.bids {
  min-width: 110px;
  background-color: #eaeaea;
  color: #111111;
}

.projectTitle {
  margin-bottom: 15px;
  font-size: 24px;
}
.projectTitle a {
  font-weight: 400;
  line-height: 29px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2a5885;
}

.customerData {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.customerData a {
  margin-left: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.metadata {
  display: flex;
  font-weight: 300;
  color: #545454;
}
.metadata .splitter {
  margin: 0 9px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
.tags a {
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #545454;
  margin-right: 6px;
}
.tags a::after {
  content: ",";
}
.tags a:last-child::after {
  content: unset;
}

.leftCol {
  display: flex;
  flex-direction: column;
}

.priceBlock {
  display: flex;
  flex-direction: column;
}

@media (min-width: 921px) {
  .projectTitle {
    max-width: calc(100% - 160px);
  }
  .price,
.bids {
    min-width: 140px;
  }
}
@media (min-width: 600px) {
  .priceBlock {
    position: absolute;
    top: 20px;
    right: 30px;
  }
}
.mobileSidebarOpener {
  display: none;
  padding: 6px;
  background-color: #fff;
  border-radius: 6px;
  border: 0;
  font-size: 0px;
}
.mobileSidebarOpener .open {
  display: block;
}
.mobileSidebarOpener .close {
  display: none;
}

@media (max-width: 1150px) and (min-width: 600px) {
  .projectsTable {
    min-width: calc(100% - 40px);
  }
  .mobileSidebarOpener {
    position: absolute;
    display: block;
    top: 10px;
    left: 15px;
  }
  .sidebar {
    max-width: 0px;
    overflow: hidden;
    min-width: 0px;
    margin-right: 40px;
    transition: 0.3s;
  }
  .layout {
    overflow: hidden;
  }
  .projectsTable {
    position: relative;
    overflow: hidden;
  }
  .layout.openedSidebar .mobileSidebarOpener .close {
    display: block;
  }
  .layout.openedSidebar .mobileSidebarOpener .open {
    display: none;
  }
  .layout.openedSidebar .sidebar {
    max-width: 270px;
    min-width: 270px;
    margin-right: 10px;
  }
  .layout.openedSidebar .projectsTable::before {
    z-index: 100;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 599px) {
  .mobileSidebarOpener {
    height: 48px;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px 0;
    justify-content: center;
  }
  .mobileSidebarOpener svg {
    z-index: 1;
  }
  .mobileSidebarOpener::before {
    border-radius: 6px;
    top: 8px;
    z-index: 0;
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: #F2F2F2;
  }
  .layout {
    flex-direction: column;
  }
  .sidebar {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    max-height: 0px;
    transition: 0.3s;
    overflow: hidden;
  }
  .sidebar .content {
    width: 100%;
    padding: 10px 15px 30px 15px;
  }
  .layout.openedSidebar .mobileSidebarOpener {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .layout.openedSidebar .mobileSidebarOpener .close {
    display: block;
  }
  .layout.openedSidebar .mobileSidebarOpener .open {
    display: none;
  }
  .layout.openedSidebar .sidebar {
    max-height: 600px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (max-width: 920px) {
  .project {
    padding: 20px;
    position: relative;
  }
  .leftCol {
    width: 100%;
  }
  .priceBlock {
    flex-direction: row;
    align-items: start;
    right: 20px;
  }
  .price {
    margin: 0 10px 0 0;
  }
  .projectTitle {
    max-width: calc(100% - 250px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
  }
  .metadata {
    flex-direction: column;
  }
  .publishedAt {
    margin-bottom: 10px;
  }
  .splitter {
    display: none;
  }
}
@media (max-width: 599px) {
  .project {
    padding: 15px;
  }
  .priceBlock {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .priceBlock .price {
    margin: 0 10px 0 0;
  }
  .priceBlock .price,
.priceBlock .bids {
    width: 100%;
    max-width: 140px;
  }
  .rightCol {
    display: none;
  }
  .projectTitle {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .leftCol {
    align-items: center;
    text-align: center;
  }
  .splitter {
    display: block;
    height: 15px;
  }
  .customerData {
    margin-bottom: 16px;
  }
  .publishedAt {
    margin-bottom: 0;
  }
  .tags {
    justify-content: center;
  }
}