@font-face {
    font-family: 'Aileron';
    src: local('Aileron regular'), local('Aileron-regular'), url('./aileron/regular/Aileron.woff2') format('woff2'), url('./aileron/regular/Aileron.woff') format('woff'), url('./aileron/regular/Aileron.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: local('Aileron Bold'), local('Aileron-Bold'), url('./aileron/bold/Aileronbold.woff2') format('woff2'), url('./aileron/bold/Aileronbold.woff') format('woff'), url('./aileron/bold/Aileronbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
