body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 105px;
}
.mobile{
  display: none;
}
.main-header{
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95)
}
.main-header .wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
}
.main-header .logo_wrapper{
  display: inline-block;
  display: inline-block;
  padding: 35px;
  border-right: 1px solid #D4D4D4;
}
.main-header a.logo{
  font-family: Roboto;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5671F6;
  text-decoration: none;
}
.main-header .search_line{
  display: inline-block;
  padding: 0 35px;
}
.main-header .search_line input{
  border: 0;
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  padding-left: 36px;
  background-image: url('../img/search-icon.svg');
  background-position: center left;
  background-repeat: no-repeat;
}
nav{
  display: inline-block;
  float: right;
}
nav a{
  display: inline-block;
  margin-right: 18px;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #363636;
}
nav a:last-child{
  margin: 0;
}


.main-header .log-buttons{
  height: 100%;
  font-size: 0
}
.main-header .log-buttons button{
  height: 100%;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.main-header .log-buttons .register{
  padding: 0 30px;
  color: #5671F6;
  background-color: #ffffff;

  border-left: 1px solid #D4D4D4;
}
.main-header .log-buttons .login{
  padding: 0 40px;
  color: #fff;
  background-color: #5671F6;
}
.main-header .mobile-menu{
  padding-right: 28px;
}
.overscreen-mobile-menu{display: none;}
.overscreen-mobile-menu .wrapper{
  width: 100%;
  height: calc(100% - 105px);
  z-index: 10;
  background-color: #5671F6;
  display: flex !important;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.overscreen-mobile-menu .content{
  display: inline-block;
}
.overscreen-mobile-menu .links{
  padding-bottom: 66px;
  border-bottom: 1px solid #D4D4D4;
}
.overscreen-mobile-menu a:first-child{margin: 0;}
.overscreen-mobile-menu a{
  display: block;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  margin: 18px 0 0 0;
}
.overscreen-mobile-menu .log-buttons{
  padding-top: 66px;
  border-top: 1px solid #D4D4D4;
}
.overscreen-mobile-menu .log-buttons button{
  background-color: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 30px;
  width: 100%;
  padding: 0;
}
.overscreen-mobile-menu .log-buttons button:last-child{margin: 0;}
@media(max-width: 1055px){
  .mobile{display: block;}
  .desctop{display: none;}
  .main-header .search_line input{
    width: 16px;
    box-sizing: border-box;
    margin: 0;
  }
  .main-header .search_line input:focus{
    width: 100%;
  }
}

.modal-with-treiler{
  display: none;

  position: fixed;
  /* На весь экран */
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000000;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
}
.modal-with-treiler .content{
  width: 80%;
  height: 70%;
  margin: auto;
  position: relative;
}
.modal-with-treiler iframe{
  width: 100%;
  height: 100%;
}
.modal-with-treiler .close-modal__button{
  display: block;
  position: absolute;
  font-size: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 100%;
  top: -10px;
  right: -10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  align-items: center;
  transform: rotate(45deg);
  overflow: hidden;
  cursor: pointer;
}
.modal-with-treiler .close-modal__button p{
  font-size: 35px;
  width: 20px;
  height: 20px;
  margin: 0;
}

#about-film{
  padding: 80px 0;
}
#about-film .wrapper{
  display: flex;
  display: -webkit-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#about-film .film-poster{
  font-size: 0;
  border-radius: 5px;
  max-width: 85%;
}
#about-film .film-poster img.main-poster-logo{
  width: 100%;
}
#about-film .film-poster footer{
  text-align: center;
  border: 1px solid #D4D4D4;
  padding: 25px 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#about-film .film-poster footer *{
  vertical-align: middle;
  cursor: pointer;
}
#about-film .film-poster footer span{
  color: #5671F6;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin-left: 14px;
}
#about-film .film-info{
  width: 35%
}
#about-film .film-info h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;

  color: #363636;
  margin: 0;
}
#about-film .film-info .official-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #A5A5A5;
  margin: 16px 0 32px 0;
}
#about-film .film-info .description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}
#about-film .film-info .info-table{
  text-align: left;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
}
#about-film .film-info .info-table .string{
  width: 50%;
  font-size: 0;
  box-sizing: border-box;
  margin-bottom: 16px;
}
#about-film .film-info .info-table .string:last-child{
  margin-bottom: 0;
}
#about-film .film-info .info-table .string *{
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
#about-film .film-info .info-table .string-name{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}
#about-film .film-info .info-table .string-value{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #363636;
}
#about-film .film-info .info-table .string:nth-child(2n) {
  padding-left: 40px;
}
#about-film .film-info .film-rating{
  margin-top: 40px;
}
#about-film .film-rating .rect-percents{
  height: 100px;
  width: 100px;
  border: 1px solid #5671F6;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}
#about-film .film-rating .rect-percents span{
  vertical-align: middle;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 100px;
  text-align: center;

  color: #5671F6;
}
#about-film .film-rating .text{
  display: inline-block;
  margin-left: 28px;
  vertical-align: middle;
  color: #363636;
}
#about-film .film-rating .text p.title{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  margin: 0;
  margin-bottom: 12px;
}
#about-film .film-rating .text p.average-mark,
#about-film .film-rating .text p.count-votes{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}
#about-film .film-rating .text p.average-mark{margin-bottom: 7px;}
#about-film .film-rating .text p b{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1300px) {
  #about-film .film-info{width: 40%; padding-top: 30px;}
  #about-film .film-info .info-table .string{width: 100%;}
  #about-film .film-info .info-table .string:nth-child(2n) {padding-left: 0;}
  #about-film .film-info .info-table .string-name{min-width: 90px; width: 35%}
  #about-film .film-info .info-table .string-value{margin-left: 10px;text-align: left;}
}
@media (max-width: 750px) {
  #about-film .film-info{width: 90%;margin-top: 30px;margin: auto;}
  #about-film .film-rating .text{margin-left: 10px;}
}
/* Блок с актёрами */
#persons{
  padding: 70px 0 100px 0;
  border-top: 1px solid #D4D4D4;
}
#persons .wrapper{
  width: 80%;
  margin: auto;
}
#persons .controls{
  margin-bottom: 60px;
}
#persons .controls button{
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}
#persons .controls button:last-child{
  margin-left: 30px;
}
#persons .controls .active{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #363636;
  display: inline-block;
}
#persons .controls .disactive{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #A5A5A5;
  display: inline-block;
}
#persons .content-wrapper{
  display: -webkit-flex;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
#persons .creators-content{
  display: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;

  color: #363636;
}
#persons .content-wrapper .frame{
  width: 22%;
  min-width: 245px;
  margin-bottom: 35px;
  font-size: 0
}
#persons .content-wrapper .frame .info{
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 20px;
}
#persons .frame .photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
#persons .frame p.name{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #5671F6;

  margin: 0;
  margin-bottom: 6px;
}
#persons .frame p.official-name{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #A5A5A5;

  margin: 0;
}
@media (max-width: 425px) {
  #persons .content-wrapper .frame{margin-bottom: 20px;}
}
/* Новости по теме */
#news{
  width: 100%;
  padding: 70px 0 100px 0;
  background-color: #F3F3F3;
  overflow: hidden;
}
#news .wrapper{
  width: 80%;
  margin: auto;
}
#news h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
  margin: 0;
  margin-bottom: 65px
}
#news .content-grid{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#news .content-grid .element{
  min-height: 160px;
  min-width: 260px;
  width: 23%;

  box-sizing: border-box;
  background-color: white;

  padding: 30px;
  padding-bottom: 0;
}
#news .element .post-date{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #000000;

  margin: 0;
  margin-bottom: 14px;
}
#news .element .post-title{
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;

  color: #000000;
  margin: 0;
}
#news .left-arrow-control img{
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
#news .left-arrow-control, #news .right-arrow-control{
  display: none
}
@media (max-width: 320px) {
  #news .wrapper{width: 90%}
  #news .content-grid .element{min-width: 220px;padding: 20px;padding-bottom: 0;}
}
/* Добавим анимацию  */
.fadeOutLeft{-webkit-animation-name:fadeOutLeft;animation-name:fadeOutLeft;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeOutLeft{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}@keyframes fadeOutLeft{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);display:none;visibility:hidden}}.fadeOutRight{-webkit-animation-name:fadeOutRight;animation-name:fadeOutRight;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}@keyframes fadeOutRight{0%{opacity:1}100%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInRight{0%{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}@-webkit-keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInLeft{0%{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}100%{opacity:1;-webkit-transform:none;transform:none}}
