body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
#first_block{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding: 80px 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F5FFFA;
  overflow: hidden;
}
#first_block img{
  height: calc(100% - 160px);
  height: -webkit-calc(100% - 160px);
  height: -moz-calc(100% - 160px);
  border-radius: 10px;
}
.text-wrapper-parrent{display: inline-table; height: 100%; margin: auto;}
.text-wrapper-child  {display: table-cell; vertical-align: middle; text-align: center;}
.text-wrapper{
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid black;
  display: inline-block;
  min-width: 200px;
  box-sizing: content-box;
}
.text-wrapper h1{
  margin: 0;
  font-size: calc(1em + 2.2917vw);
}
.text-wrapper p{
  color: black;
  margin: 10px 0 0 0;
}
.characteristic-set span{
  text-transform: uppercase;
  color: #92a1a5;
  padding-bottom: 2px;
  border-bottom: 2px solid #E6E6FA;
  margin-top: 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
@media(max-width: 799px) {
  #first_block{padding: 15px; height: auto;padding-bottom: 0;}
  .text-wrapper-parrent{display: inline-block; height: auto; margin-bottom: 10px;}
  #first_block img{height: 430px;}
}
.characteristic-set span::after{
  content: '';
  display: block;
  position: absolute;
  top: 25px;
  left: 0;
  background: wheat;
  width: auto;
  z-index: -1;
  opacity: 0;
  color: black;
  padding: 20px 10px;
  transition: .5s;
}
.characteristic-set span#n1::after{
  content: 'По статистике, такие сестры рождаются раз в 10 миллионов лет';
}
.characteristic-set span#n2::after{
  content: 'Всеми любимая девочка';
}
.characteristic-set span#n3::after{
  content: 'Каждый день рвется всем помочь';
}
.characteristic-set span#n4::after{
  content: 'Постоянно улыбается и дарит позитив';
}
.characteristic-set span#n5::after{
  content: 'Лисёнок :-)';
}
.characteristic-set span:active::after{
  z-index: 10;
  opacity: 1;
}
p#hinterHint{
  color: #92a1a5;
  font-size: 10px;
}
/* Галлерея */
section#gallery{
  width: 100%;
  background: linear-gradient(180deg, #F5FFFA, #98FB98);
  height: 100vh;
}
section#gallery h1{
  text-align: center;
  margin: 0;
  font-size: calc(1em + 2.2917vw);
  line-height: 50px;
  height: 50px;
  margin-bottom: 30px;
}
section#gallery .slaider{
  max-width: 90%;
  display: flex;
  height: calc(100vh - 50px - 30px);
  margin: auto;
}
.slaider__button-left, .slaider__button-right{
  width: 8%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  display: table;
  cursor: pointer;
  /**Для эксплорера*/-ms-user-select: none;
  /**Для мозилы*/-moz-user-select: none;
  /**Для конкверора*/-khtml-user-select: none;
  /**Для Сафари и Хрома*/-webkit-user-select: none;
}
.slaider__button__font{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  color: white;
}
.slaider__photos{
  width: 84%;
  background-color: rgba(0,0,0,.5);
  display: table;
  height: 100%;
}
.slaider__photos .photo#photog{
  display: table-cell;
  width: 100%;
  height: 100%;
  background-image: url('../photo_bin/2007.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
}
.slaider__photos #photoYear{
  display: block;
  position: absolute;
  bottom: 10px;
  top: auto;
  width: 100%;
}
.slaider__photos #photoYear div{
  padding: 10px;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 24px;
  border-radius: 10px;
}
